@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sen:wght@400;700;800&display=swap');


:root{
    --Primary-Color: #66fcf1;
}

body{
    background-color: #03293b;
    color: white;
    margin: 0;
    font-family: "sen";
    letter-spacing: 1px;
}

.navbar{
    margin: 0;
    background-color: #2f5a6f;
    padding: 1.9em 0.7em;

    .space{
        display: flex;
        margin: 0;
        column-gap: 3em;
        align-items: center;

        .warpped{
            display: flex;
            justify-content: center;
            column-gap: 3em;
            height: 3em;

            .navbtn{
                background-color: #2f5a6f;
                border-style: solid;
                border-color: var(--Primary-Color);
                color: var(--Primary-Color);
                font-size: 17.6px;
                padding: 14px 31px;
                padding-bottom: 33px;
                border-radius: 30px;
                letter-spacing: 0.6px;
                font-weight: lighter;
                cursor: pointer;

                &:hover{
                    background-color: var(--Primary-Color);
                    color: #03293b;
                }
            }
        }

        .butt{
            background-color: #2f5a6f;
            border-style: solid;
            border-color: rgba(146,146,146,0.23);
            border-width: 1px;
            height: 2.8em;
            justify-content: center;
            margin-top: 7px;
            padding-bottom: 4px;
            cursor: pointer;
            
        }

        .logo{

            a{
                display: flex;
                column-gap: 14px;
                //cursor: pointer;

                img{
                    width: 38px;
                    height: 69px;
                    align-self: baseline;
                    cursor: pointer;
                }
                h5{
                    font-family: "poppins";
                    margin: 0;
                    padding-top: 18%;
                    font-size: 28px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    cursor: pointer;
                }
            }
        }
        
        nav{
            display: none;
       
            ul{
            display: flex;
            list-style: none;
            
            li{
                margin: 5px;
            }
          }
        }
    }
}

section{
    padding: 1em 1em 1em 0.5em;
}

rect{
    color: aliceblue;
    fill: aliceblue;
}

.firstBody{

    margin-top: 2.6em;

    .spaceycasey{

        padding-bottom: 3em;

        h1{
            font-size: 3.2em;
            line-height: 70px;
            //width: 8em;
            margin-bottom: 0;

            span{
                color: var(--Primary-Color);
            }
        }

        h3{
            font-weight: lighter;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom: 2em;
        }
    }
}

.action{
    background-color: var(--Primary-Color);
    border-style: none;
    font-size: 1.01em;
    border-radius: 30px;
    padding: 15px 35px;
    letter-spacing: 1px;
}

.columnsofzeus{
    padding-top: 3em;
    padding-bottom: 2.7em;
}
.neymar{
    height: 386.562px;
}

.secondBody{
    padding-top: 3em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    margin-bottom: 10em;

    .smallerspace1{

        padding-bottom: 1em;

        .smallestspacelol{

            p{
                color: var(--Primary-Color);
                font-size: 17.6px;
                font-weight: 400;
                letter-spacing: 0px;
                margin-bottom: 14px;
            }

            h1{
                font-size: 1.75em;
                letter-spacing: 0;
                margin: 1px 0 14px;
                line-height: 1.69em;
            }
        }

        p{
            display: inline-block;
            font-size: 17.6px;
            margin-top: 2em;
            line-height: 1.8em;
            letter-spacing: 0;
        }
    }

    .smallerspace2{
        margin-top: 1.3em;

        .box{
            background-color: var(--Primary-Color);
            padding: 0px;
            margin: 10px 0 32px;
            padding-bottom: 2px;

            .box2{
                padding: 60px;
                background-color: #041c2d;

                h3{
                    font-size: 1.76em;
                    margin-top: 1.1em;
                    line-height: 1.39em;
                    letter-spacing: 0;
                    margin-bottom: 0.8em;
                }

                p{
                    line-height: 2em;
                    margin-top: 0.5em;
                    font-size: 1em
                }

                .openopen{
                    font-size: 1.1em;
                    letter-spacing: 0;
                    font-weight: 600;
                    color: var(--Primary-Color);
                    margin-bottom: 0;
                }

            }
            
        }
    }
}

.thirdBody{
    background-color: #041c2d;
    padding: 2.3em;
    padding-top: 6em;
    padding-right: 2em;

    .space{
        padding: 2.1em;
        padding-top: 2em;
        padding-right: 3em;

        .leftdiv{

            .abt{
                color: var(--Primary-Color);
                font-size: 1.1em;
                letter-spacing: 3px;
                margin-bottom: 40px;
            }

            h1{
                font-size: 2.5em;
                margin-top: 32px;
                line-height: 1.42em;
                font-weight: bolder;
                letter-spacing: 0;
            }

            p{
                color: #f7f7f7;
                font-size: 1em;
                letter-spacing: 0;
                line-height: 1.7em;
                width: 285px;
            }
        }

        .right{
            margin-top: 4em;

            img{
                width: 365px;
                max-width: 100%;
                border-radius: 2.6em;

            }
        }
    }
}